/*Section 3 css start*/
.section_4 {
  position: relative;
}

.section_4_background_img {
  border-radius: 10px;
  overflow: hidden;
  z-index: 9;
}

.section_4_background_img img {
  max-width: 100%;
  max-height: 100%;
}

.section_4_body {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  color: #ffff;
  padding: 30px;
  width: 100%;
}

.section_4_body_row_1 h4 {
  font-size: 24px;
  line-height: 32px;

  font-weight: 500;
  margin-bottom: 85px;
}

.section_4_body_row_1 h1 {
  font-size: 72px;
  line-height: 72px;

  font-weight: 400;
  margin-bottom: 30px;
}

.section_4_body_row_2 h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}

.section_4_body_row_4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  /* width: 100%; */
}

.section_4_body_row_4_card {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}

.section_4_body_row_4_card button {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  /* font-size: 15px;
    line-height: 16px; */
  /* letter-spacing: 0.6px; */
  color: white;
  background-color: var(--primary);
  border-color: transparent;
  transition: background-color 0.2s, color 0.2s;
}

.section_4_body_row_4_card button:hover {
  color: var(--primary);
  background-color: var(--white);
}

.section_4_body_row_4_card button span:first-of-type {
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 34px;
  text-align: left;
  font-weight: 500;
}

.section_4_body_row_4_card button span:last-of-type {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  font-weight: 500;
}

.section_4_body_row_4_card button span:last-of-type sup {
  position: relative;
  font-size: 9px;
  line-height: 18px;
  font-weight: 600;
  vertical-align: top;
  margin-left: 0.2rem;
  top: -0.3rem;
}
/*Section 3 css end*/
