.section_3 {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.section_3_left,
.section_3_right {
  flex: 50%;
}

.section_3_left {
  padding: 30px;
  color: var(--white);
  background-color: var(--stone-pink);
}

.section_3_left h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
}
