@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

:root {
  /*color*/
  --primary: #14a800;
  --primary-dark: #3c8224;
  --primary-dark-2: #5e6d55;
  --primary-dark-3: #e4ebe4;
  --primary-dark-4: #13544e;
  --primary-light: #e9f7e5;
  --primary-light-2: #f2f7f2;
  --black-green: #001e00;
  --red: #bc511b;
  --grey: #5e6d55;
  --grey-light: #d5e0d5;
  --grey-light-2: #9aaa97;
  --grey-light-3: #e4ebe4;
  --white: #fff;
  --blue: #1f57c3;
  --blue-dark: #254d97;
  --width: 1140px;
  --input-height: 40px;
  --input-radius: 20px;
  --input-form-width: 300px;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

html,
body {
  font-size: 62.5%;
}

/*Common css start*/

.wrapper {
  width: var(--width);
  margin: auto;
}

.btn_primary {
  background-color: var(--white);
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--grey);
  border-radius: 20px;

  padding: 1rem 2.5rem;
  cursor: pointer;
}

.btn_secondary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  padding: 1rem 2.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_secondary:hover {
  background-color: var(--primary-dark);
}

.btn_secondary_outline {
  background-color: var(--white);
  border: 1px solid var(--primary);
  /* border: none; */
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary);
  padding: 1rem 2.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_secondary_outline:hover {
  background-color: var(--primary-light);
}

.title-1 {
  font-size: 80px;
}

.title-3 {
  font-size: 24px;
}

.title-4 {
  font-size: 16px;
}

/*Common css end*/

/*Header css start*/

.header {
  font-size: 1.4rem;
  position: fixed;
  width: 100%;
  padding: 0 1rem;
  background-color: var(--white);

  z-index: 101;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-bottom: 1px solid var(--grey-light);
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left img {
  height: 2.5rem;
}

.header_left_list {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: var(--grey);
  font-weight: 500;
}

.header_left_list_item {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
  cursor: pointer;
}

.header_left_list_item img {
  width: 12px;
  margin-left: 0.5rem;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_right_form {
  position: relative;
  width: var(--input-form-width);
}

.header_right_form input {
  height: var(--input-height);
  border-radius: var(--input-radius);
  border: 1px solid var(--grey-light);
  outline: none;
  width: 100%;
  padding-left: 5rem;
}

.header_right_form input::placeholder {
  font-weight: 700;
  padding: 0.8rem;
}

.header_right_form_input_icons {
  position: absolute;
  display: flex;
  align-items: center;
  top: 11px;
  left: 16px;
}

.header_right_form_input_icons img:nth-child(1) {
  width: 20px;
}

.header_right_form_input_icons img:nth-child(2) {
  width: 12px;
}

.header_right_btns {
  margin-left: 1rem;
}

/*Header css end*/

/*Section 1 css start*/
.section_1 {
  font-size: 1.4rem;
  position: relative;
  padding-top: 140px;
  padding-bottom: 80px;
}

.section_1_top {
  position: fixed;
  top: 70px;
  width: 100%;
  background-color: var(--white);
  z-index: 100;
}

.section_1_top_list {
  display: flex;
  align-items: center;
  height: 70px;

  color: var(--grey);
}

.section_1_top_list_item {
  margin: 0 2rem;
  font-weight: 500;
}

.section_1_top_list_item:last-child {
  display: flex;
  align-items: center;
}

.section_1_top_list_item:last-child img {
  width: 14px;
}

.section_1_bottom {
  /* margin-top: 140px; */
  position: relative;
}

.section_1_bottom_left h1 {
  color: var(--primary);
}

.section_1_bottom_left h3 {
  color: var(--grey);
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.section_1_bottom_left_btns button {
  margin-right: 2rem;
}

.section_1_bottom_left_companies_logo {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.section_1_bottom_left_companies_logo h4 {
  color: var(--grey-light-2);
  font-weight: 600;
}

.section_1_bottom_left_companies_logo div {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.section_1_bottom_left_companies_logo div img {
  height: 40px;
  max-height: 110px;
  margin-right: 30px;
  width: auto;
}

.section_1_bottom_left_companies_logo div img:nth-child(3) {
  height: 26px;
}

.section_1_bottom_right {
  position: absolute;
  top: 120px;
  right: 0;
  z-index: 99;
}

.section_1_bottom_right img {
  width: 480px;
}

/*Section 1 css end*/

/*Section 2 css start*/
.section_2 {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}

.section_2_header {
  display: flex;
  flex-direction: column;
}

.section_2_header h3 {
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: 500;
}

.section_2_header div {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
}

.section_2_header div p {
  color: var(--grey);
  margin-right: 0.5rem;
  margin-bottom: 40px;
}

.section_2_header div a {
  text-decoration: none;
}

.section_2_header div a:hover {
  text-decoration: underline;
}

.section_2_categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  grid-column-gap: 30px;
  column-gap: 30px;
  grid-row-gap: 15px;
  row-gap: 15px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.section_2_categories_tile {
  width: 261px;
  height: 134px;
  background: var(--primary-light-2);
  border-radius: 8px;
  padding: 20px;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
}

.section_2_categories_tile:hover {
  background: var(--primary-dark-3);
}

.section_2_categories_tile h4 {
  font-size: 23px;
  margin-bottom: 2rem;
}

.section_2_categories_tile div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  color: var(--primary-dark-2);
}

.section_2_categories_tile div span:first-of-type {
  display: flex;
  align-items: center;
}

.section_2_categories_tile div span:last-of-type {
  margin-right: 40px;
}

.section_2_categories_tile div span:first-of-type img {
  height: 12px;
}

/*Section 2 css end*/

/*Section 3 css start*/
.section_3 {
  position: relative;
}

.section_3_background_img {
  border-radius: 10px;
  overflow: hidden;
  z-index: 9;
}

.section_3_background_img img {
  max-width: 100%;
  max-height: 100%;
}

.section_3_body {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  color: #ffff;
  padding: 30px;
  width: 100%;
}

.section_3_body_row_1 h4 {
  font-size: 24px;
  line-height: 32px;

  font-weight: 500;
  margin-bottom: 85px;
}

.section_3_body_row_1 h1 {
  font-size: 72px;
  line-height: 72px;

  font-weight: 400;
  margin-bottom: 30px;
}

.section_3_body_row_2 h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}

.section_3_body_row_3 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  /* width: 100%; */
}

.section_3_body_row_3_card {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}

.section_3_body_row_3_card button {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 15px;
  text-align: left;
  /* font-size: 15px;
  line-height: 16px; */
  /* letter-spacing: 0.6px; */
  color: white;
  background-color: var(--primary);
  border-color: transparent;
}

.section_3_body_row_3_card button span:first-of-type {
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 34px;
  text-align: left;
  font-weight: 500;
}

.section_3_body_row_3_card button span:last-of-type {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  font-weight: 500;
}

.section_3_body_row_3_card button span:last-of-type sup {
  position: relative;
  font-size: 9px;
  line-height: 18px;
  font-weight: 600;
  vertical-align: top;
  margin-left: 0.2rem;
  top: -0.3rem;
}
/*Section 3 css end*/

/*Section 4 css start*/
.section_4 {
  margin-top: 100px;
  display: flex;
}

.section_4_left {
  position: relative;
  width: 65%;
  margin-right: 30px;
  border-radius: 8px;
  padding: 30px;
  background-color: var(--primary-light-2);
}

.section_4_left_info_title {
  font-size: 72px;
  line-height: 72px;
  margin: 30px 0;
  font-weight: 400;
}

.section_4_left_info_item {
  display: flex;
  padding-right: 200px;
}

.section_4_left_info_item_left {
}

.section_4_left_info_item_right {
  display: flex;
  flex-direction: column;
}

.section_4_left_info_item_left img {
  height: 20px;
  margin-top: 8px;
  margin-right: 15px;
}

.section_4_left_info_item_right h3 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section_4_left_info_item_right p {
  font-size: 1.6rem;
  margin-bottom: 30px;
  font-weight: 500;
  color: var(--primary-dark-2);
  letter-spacing: -0.05rem;
}

.section_4_left_img {
  position: absolute;
  top: 0;
  right: 0;
  height: 694px;
  width: 357px;
  vertical-align: middle;
  transform: translate(99px, -55px);
}

.section_4_left_img img {
  max-width: 100%;
  max-height: 100%;
}

.section_4_right {
  width: 35%;
  border-radius: 8px;
  background-color: var(--primary);
}

.section_4_right_info {
  margin-top: 220px;
  margin-left: 36px;
}

.section_4_right_info h3 {
  font-size: 36px;
  margin-bottom: 30px;
  color: white;
}

.section_4_right_info_item {
  display: flex;
}

.section_4_right_info_item img {
  height: 30px;
  margin-top: 5px;
  margin-right: 15px;
}

.section_4_right_info_item div {
  display: flex;
  flex-direction: column;
}

.section_4_right_info_item h3 {
  margin-bottom: 10px;
}

.section_4_right_info_item p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-bottom: 30px;
}

/*Section 4 css end*/

/*Section 5 css start*/
.section_5 {
  display: flex;
  margin-top: 50px;
  border-radius: 8px;
  color: var(--white);

  overflow: hidden;
}

.section_5_left {
  width: 50%;
}

.section_5_left img {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  margin-bottom: -1px;
}

.section_5_right {
  width: 50%;
  padding: 30px;
  background-color: var(--blue);
}

.section_5_right hr {
  margin-top: 18px;
  margin-bottom: 10px;
}
.section_5_right_top {
  padding-bottom: 100px;
  margin-bottom: 60px;
}

.section_5_right_top h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 500;
}

.section_5_right_top h1 {
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
  margin-bottom: 30px;
}

.section_5_right_top p {
  font-size: 18px;
  font-weight: 500;
}

.section_5_right_middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section_5_right_middle p {
  flex: 33.33%;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 500;
}

.section_5_right_middle p:not(#text-1) {
  margin-left: 25px;
}

.section_5_right_bottom {
  position: relative;
}

.section_5_right_bottom button {
  position: absolute;
  top: 15px;
  padding: 1.2rem 3rem;
  color: var(--blue);
  transition: background-color 0.2s ease;
}

.section_5_right_bottom button:hover {
  background-color: var(--grey-light);
}

/*Section 5 css end*/

/*Section 6 css start*/
.section_6 {
  margin-top: 85px;
  position: relative;
  /* padding: 0 15px; */
}

.section_6 h1 {
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 30px;
}

.section_6_container {
  /* overflow: hidden; */
  position: relative;
}

.section_6_reviews_carousel {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.section_6_reviews_carousel::-webkit-scrollbar {
  display: none;
}

.section_6_reviews_list {
  position: relative;
  display: flex;
  align-items: center;

  width: 2280px;
}

.section_6_reviews_list_box_1,
.section_6_reviews_list_box_2 {
  position: relative;
  display: flex;
  align-items: center;
  height: 450px;
  min-height: 450px;
  z-index: 99;
}

.section_6_reviews_list_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 540px;
  height: 100%;
  /* height: 485px; */
  /* min-height: 450px; */
  padding: 25px;
  border-radius: 8px;
  margin-right: 30px;
  color: var(--white);
}

.section_6_reviews_list_item_top img {
  width: 199px;
  height: 56px;
  margin-bottom: 15px;
  margin-right: auto;
}

.section_6_reviews_list_item_top h4 {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: -0.05rem;
  line-height: 2.5rem;
  margin-bottom: 10px;
}

.section_6_reviews_list_item_top p {
  font-size: 16px;
  font-weight: 100;
  color: var(--grey-light);
}

.section_6_reviews_list_item_bottom {
  min-height: 126px;
}

.section_6_reviews_list_item_bottom h5 {
  font-size: 15px;

  font-weight: 100;

  color: var(--grey-light);
}

.section_6_reviews_list_item_bottom hr {
  margin-bottom: 17px;
  margin-top: 12px;
}

.section_6_reviews_list_item_bottom_results {
  display: flex;
  align-items: center;
}

.section_6_reviews_list_item_bottom_results div {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  flex: 42%;
}

.section_6_reviews_list_item_bottom_results div h4 {
  font-size: 26px;
  line-height: 25px;
  margin-bottom: 10px;
}

.section_6_reviews_list_item_bottom_results div p {
  font-size: 16px;
  color: var(--grey-light);
}

.section_6_reviews_list_item.item_1 {
  background-color: var(--primary-dark-4);
}

.section_6_reviews_list_item.item_2 {
  background-color: var(--red);
}

.section_6_reviews_list_item.item_3 {
  background-color: var(--blue);
}

.section_6_reviews_list_item.item_4 {
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow: hidden;
}

.section_6_reviews_list_item_left {
  width: 50%;
  height: 100%;
}

.section_6_reviews_list_item_left img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  background-size: cover;
}

.section_6_reviews_list_item_right {
  width: 50%;
  padding: 41px;
  background-color: var(--black-green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section_6_reviews_list_item_right h5 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 35px;
}

.section_6_reviews_list_item_right img {
  width: 92px;
  height: 45px;
  margin-right: auto;
}

.section_6_reviews_list_item_right img:nth-of-type(2) {
  width: 167px;
  height: 45px;
  margin-right: auto;
}

.section_6_reviews_list_controls_left,
.section_6_reviews_list_controls_right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40%;
  background-color: var(--black-green);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.2s ease;
  z-index: 100;
}

.section_6_reviews_list_controls_left {
  left: -38px;
  opacity: 0;
}

.section_6_reviews_list_controls_left img {
  transform: rotate(180deg);
}

.section_6_reviews_list_controls_right {
  right: 0;
}

/*Section 6 css end*/

/*Section 7 css start*/
.section_7 {
  display: flex;
  padding: 0 15px;
  padding-top: 100px;
}

.section_7_left,
.section_7_middle,
.section_7_right {
  flex: 33.33;
  display: flex;
  padding: 0 15px;
  flex-direction: column;
}

.section_7_left {
  padding-left: 0;
  padding-right: 30px;
  margin-right: 30px;
}

.section_7_middle {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 30px;
}

.section_7_left a,
.section_7_middle a,
.section_7_right a {
  text-decoration: none;
  transition: color 0.2s;
}

.section_7_left a {
  font-size: 40px;
  line-height: 40px;
  color: var(--grey-light);
  margin-bottom: 15px;
  font-weight: 500;
}

.section_7_left a:first-of-type {
  color: var(--primary);
}

.section_7_middle a,
.section_7_right a {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--grey);
}

.section_7_left a:hover,
.section_7_middle a:hover,
.section_7_right a:hover {
  color: var(--blue-dark);
}

/*Section 7 css end*/

/*Section 8 css start*/
.footer {
  padding: 0 125px;
  padding-top: 90px;
  font-size: 1.6rem;
  color: var(--white);
  margin: 0 15px;
  margin-top: 100px;
  border-radius: 8px;
  background-color: var(--black-green);
  display: flex;
  flex-direction: column;
}

.footer_top {
  display: flex;
  justify-content: space-between;
}

.footer_top_list {
  flex: 25%;
}

.footer_top_list:not(:last-of-type) {
  margin-right: 20px;
}

.footer_top_list h5 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--grey-light);
}

.footer_top_list ul {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.footer_top_list ul li {
  margin-bottom: 10px;
}

.footer_top_list ul li a {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  line-height: 20px;
  transition: text-decoration 0.2s ease;
}

.footer_top_list ul li a:hover {
  text-decoration: underline;
}
/*Section 8 css end*/
