@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

:root {
  /*color*/
  --primary: #14a800;
  --primary-dark: #3c8224;
  --grey: #5e6d55;
  --grey-light: #d5e0d5;
  --white: #fff;
  --width: 1140px;
  --input-height: 40px;
  --input-radius: 20px;
  --input-form-width: 300px;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

html,
body {
  font-size: 62.5%;
}

/*Common css start*/

.wrapper {
  width: var(--width);
  margin: auto;
}

.btn_primary {
  background-color: var(--white);
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--grey);
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn_secondary {
  background-color: var(--primary);
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_secondary:hover {
  background-color: var(--primary-dark);
}
/*Common css end*/

/*Header css start*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  height: 70px;

  padding: 0 1rem;
  border-bottom: 1px solid var(--grey-light);
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left img {
  height: 2.5rem;
}

.header_left_list {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  color: var(--grey);
  font-weight: 500;
}

.header_left_list_item {
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
  cursor: pointer;
}

.header_left_list_item img {
  width: 12px;
  margin-left: 0.5rem;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_right_form {
  position: relative;
  width: var(--input-form-width);
}

.header_right_form input {
  height: var(--input-height);
  border-radius: var(--input-radius);
  border: 1px solid var(--grey-light);
  outline: none;
  width: 100%;
  padding-left: 5rem;
}

.header_right_form input::placeholder {
  font-weight: 700;
  padding: 0.8rem;
}

.header_right_form_input_icons {
  position: absolute;
  display: flex;
  align-items: center;
  top: 11px;
  left: 16px;
}

.header_right_form_input_icons img:nth-child(1) {
  width: 20px;
}

.header_right_form_input_icons img:nth-child(2) {
  width: 12px;
}

.header_right_btns {
  margin-left: 1rem;
}

/*Header css end*/

/*Section 1 css start*/

.section_1 {
  font-size: 1.4rem;
}

.section_1_list {
  display: flex;
  align-items: center;
}

.section_1_list_item {
  margin: 0 2rem;
  font-weight: 500;
}
/*Section 1 css end*/
